# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/img/icons8-enter-100.png
/src/img/icons8-home-384.png
/src/img/icons8-logout-100(1).png
/src/img/icons8-logout-100.png
/src/img/icons8-person-64(1).png
/src/img/icons8-person-64.png
/src/img/icons8-sign-up-128.png
/src/img/icons8-sun-384.png
/src/img/icons8-table-100.png
/src/img/
