@import "./comps/App.pcss";
@import "./comps/Navigation.pcss";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&family=Ubuntu:wght@300;400;700&display=swap');

body{
    margin: 0;
    font-family: "Comfortaa", cursive;
    font-weight: 400;
}
